@import "vars"

/*==========  Desktop First  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px)
	.products
		.button
			padding: 9px 33px
	footer
		.footer-adress
			font-size: 17px
			line-height: 22px
		.footer-list-one,
		.footer-list-two,
		.footer-list-three
			font-size: 10px
			margin-left: 15px
	.spotlight
		.spotlight-item-two
			img
				height: 350px	
	/**/


/* Medium Devices, Desktops */
@media only screen and (max-width : 992px)
	.products
		.col-one
			margin-bottom: 50px
		.button
			padding: 10px 45px
		.new-item
			margin-bottom: 50px
		.new-item-img
			min-height: 300px
	.news-item
		margin-bottom: 20px
	footer
		.footer-logo
		.footer-adress
			font-size: 15px
			line-height: 20px
			margin-left: 20px
		.footer-list-one,
		.footer-list-two,
		.footer-list-three
			font-size: 9px
			margin-left: 12px
	/**/


/* Small Devices, Tablets */
@media only screen and (max-width : 768px)
	.logo
		float: right
	.owl-dots 
		display: none
	.our_fotos
		margin-top: 50px
	.main-mnu,
	.top-mnu
		display: none
	.spotlight
		text-align: center
		.spotlight-item
			.button
				margin: 50px 0
		.spotlight-item-two
			img
				height: 300px
	footer
		padding-top: 50px
		a.footer-logo
			display: block
			margin: 0
		.footer-adress
			margin-bottom: 30px
			font-size: 15px
			line-height: 20px
			text-align: center
			margin-left: 0 
		.footer-list
			text-align: center
		// 	margin: 0 auto
		// 	&-one
		// 		margin-left: 0 

	/**/


/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px)
	.logo
		display: inline-block
		margin: auto
	.center-line
		.button
			font-size: 8px
			padding: 10px 35px
	.header-image
		.head-title
			font-size: 35px
			letter-spacing: 2px
			margin: 70px 0
			line-height: 40px
	.products
		.col-md-3
			padding: 0 15px
	.spotlight
		.spotlight-item-two
			img
				height: 200px	
	.news-item
		margin-bottom: 20px
		.news-item-title
			h6
				font-size: 8px


	/**/


/* Custom, iPhone Retina */
@media only screen and (max-width : 320px)
	/**/


/*==========  Mobile First  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px)
	/**/


/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px)

	/**/


/* Small Devices, Tablets */
@media only screen and (min-width : 768px)
	/**/


/* Medium Devices, Desktops */
@media only screen and (min-width : 992px)
	/**/


/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px)
	/**/

