$default-font: "montserrat", sans-serif
$medium-font: "montserratMedium", sans-serif
$semiBold-font: "montserratSemiBold", sans-serif
$bold-font: "montserratBold", sans-serif
$extraBold-font: "montserratExtraBold", sans-serif


$accent: #000000
$concrete: #95a5a6
$grey: #ecf0f1
$silver: #bdc3c7
$light: #f9f9f9
$white: #ffffff
