@import "fonts"
@import "libs"
@import "vars"

*::-webkit-input-placeholder
	color: #666
	opacity: 1

*:-moz-placeholder
	color: #666
	opacity: 1

*::-moz-placeholder
	color: #666
	opacity: 1

*:-ms-input-placeholder
	color: #666
	opacity: 1

body input:focus:required:invalid,
body textarea:focus:required:invalid
	color: #666
body input:required:valid,
body textarea:required:valid
	color: #666

html, body
	height: 100%

a
	text-decoration: none !important

body
	font-size: 16px
	min-width: 320px
	position: relative
	line-height: 1.75
	font-family: $default-font
	overflow-x: hidden
	opacity: 1

.img-responsive
	display: block
	max-width: 100%
	height: auto

//extend mnu
.ulmnu
	font-size: 11px
	list-style-type: none
	margin: 0
	padding: 0
	text-transform: uppercase
	li
		display: inline-block
		padding: 0 4px
	a
		color: $concrete

//top-line
.top-line
	line-height: 30px
	border-bottom: 1px solid $grey

.top-mnu
	ul
		@extend .ulmnu

.social 
	a
		padding: 0 4px
	@extend .ulmnu

//center-line
.center-line
	padding: 25px 0
	border-bottom: 1px solid $grey
	.fa
		float: right
		line-height: 40px
		color: $accent

.button
	line-height: 40px
	font-family: $medium-font
	text-transform: uppercase
	font-size: 10px
	color: $white
	background-color: $accent
	padding: 10px 50px
	letter-spacing: 1px
	transition: all .5s
	&:hover
		color: $accent
		background-color: $concrete
		transition: all .5s

.logo
	text-align: center
	display: inherit
	img
		max-width: 125px

// bottom-line
.bottom-line
	border-bottom: 1px solid $grey
	text-align: center

.main-mnu
	display: inline-block
	text-align: center
	vertical-align: middle;

//SF Base Start
.sf-menu
	margin-bottom: 0
	position: static
	float: none
	.sf-mega
		background-color: $white
		padding: 25px 15px
		a
			border-bottom: 2px solid transparent
			padding: 3px
			&:hover
				color: $concrete
				border-bottom: 2px solid $white
		ul
			display: block
			float: none
			position: relative
			box-shadow: none
	li
		white-space: normal
		position: static
		background-color: $white
		margin: 0 30px
		a
			font-size: 11px
			color: $accent
			font-family: $bold-font
			background-color: $white
			text-transform: uppercase
			border-bottom: 2px solid transparent
			&:hover
				color: $concrete
				border-bottom: 2px solid $accent

.mega-sub
	.mega-sub-title
		a
			font-family: $bold-font
			text-transform: uppercase
			padding-bottom: 7px
	li
		a
			font-family: $medium-font
			text-transform: none
.one,
.three
	border-left: 1px solid $grey
//SF Base End

//header image
.header-image
	margin: 30px 0
	background-image: url("../img/food_.jpg")
	background-size: cover
	background-position: no-repeat center
	height: 450px
	.head-title
		font-size: 40px
		letter-spacing: 2px
		margin: 90px 0
		line-height: 50px
		a
			color: $white
	.title-date
		color: $white
		text-transform: uppercase
		font-size: 12px
		font-family: $medium-font
		letter-spacing: 1px

//products
.products
	padding: 40px 0
	.col-one
		text-transform: uppercase
		line-height: 33px
		text-align: center
		font-family: $medium-font
	.col-md-3
		padding: 0 70px

.new-item
	text-align: center
	line-height: 20px
	color: $silver
	padding: 0
	.price
		font-family: $bold-font
	&-img
		min-height: 140px
		min-width: 140px
		background-size: cover
		background-position: no-repeat center
		margin-bottom: 10px

//exercices
.exercices
	padding: 40px 0

.exercices-item
	position: relative
	&-img
		min-height: 400px
		background-size: cover
		background-position: no-repeat center
		margin-bottom: 10px

.exercices-item-title,
.exercices-item-title-two
	position: absolute
	background: $white
	line-height: 0
	width: 80%
	bottom: 40px
	right: 0
	text-transform: uppercase
	h6
		font-size: 14px
		margin:
			left: 15px
			top: 20px
			bottom: 15px
	p
		font-size: 12px
		color: $silver
		margin:
			left: 15px
			top: 20px
			bottom: 25px

.exercices-item-title-two
	left: 0
	h6
		margin:
			right: 15px
	p
		font-size: 12px
		color: $silver
		margin:
			right: 15px

.right
	float: right 

//spotlight
.spotlight
	padding: 40px 0
	background-color: $grey
	.spotlight-item
		padding: 0 30px
		text-transform: uppercase
		line-height: 33px
		font-family: $medium-font
		h2:first-child
			margin-bottom: 60px
		h2:nth-child(2)
			font-family: $extraBold-font
		p
			line-height: 20px
			color: $silver
			text-transform: none
			font-family: $default-font
		.button
			display: inline-block
			margin-top: 110px
			padding: 0 50px
			line-height: 33px
	.spotlight-item-two
		text-align: center


//news
.news
	padding: 50px 0

.news-item
	background-color: $white
	text-align: center
	margin: 0 10px
	&-img
		position: relative
		min-height: 300px
		background-size: cover
		display: block
		.news-item-title
			position: absolute
			background: $white
			line-height: 0
			width: 70%
			bottom: 0
			left: 0
			text-transform: uppercase
			h6
				text-align: left
				color: $concrete
				font-family: $thinlight-font
				letter-spacing: 1px
				margin: 15px 0
	.news-item-title-two
		background: $grey
		height: 30px
		width: 100%
	h4, p
		padding: 0 20px
	h4
		font-family: $medium-font
	p
		font-size: 14px
		line-height: 17px
		color: $silver
//partners
.partners
	.partner
		background: $accent
		width: 275px
		height: 150px
		display: table
		margin: auto
		h2
			color: $white
			font-size: 30px
			line-height: 40px
			text-align: center
			display: table-cell
			vertical-align: middle
			text-transform: uppercase
	.owl-dots
		width: 100%
		text-align: center
		margin-top: 50px
		.owl-dot
			width: 9px
			height: 9px
			background-color: $accent
			border-radius: 50%
			display: inline-block
			margin: 5px
			transition: background-color .5s, transform .5s 
			&.active
				background-color: $silver
				transform: scale(1.2)

	.owl-stage
		// display: flex
	.owl-item
		margin-top: 50px

//fotos
.our_fotos
	margin-top: 50px
	.fotos
		.foto
			&:hover
				.fa
					opacity: .8
				&::before
					opacity: .1
	.foto
		display: inline-block
		margin: auto
		text-align: center
		width: 265px
		min-height: 250px
		background-size: cover
		position: relative
		.fa
			font-size: 13px
			color: $white
			position: absolute
			top: 50%
			left: 50%
			margin-top: -10px
			margin-left: -48px
			opacity: 0
			transition: all .5s ease
			span
				font-family: $light-font
		.fa:nth-child(2)
			position: absolute
			top: 50%
			left: 50%
			margin-top: -10px
			margin-left: 12px
			span
				font-family: $light-font
		&::before
			position: absolute
			content: ''
			width: 100%
			height: 100%
			top: 0
			left: 0
			background-color: $grey
			opacity: 0
			transition: all .5s ease
// footer
footer
	padding-top: 100px
	background-color: $accent
	height: 300px
	color: $white
	text-transform: uppercase
	a.footer-logo
		color: $white
		font-size: 38px
		font-family: $medium-font
		display: inline-block
		margin-left: 50px
		text-align: center
	.footer-adress
		text-transform: none
		font-size: 19px
		font-family: $light-font
		line-height: 24px
	.footer-list,
	.footer-list-two,
	.footer-list-three
		float: left
		list-style-type: none
		font-family: $medium-font
		font-size: 13px
		padding: 0
		margin: 0
		margin-left: 20px
		a
			color: $white




@import "media" // Всегда в конце
